client_id = "YOUR_SHOPIFY_API_KEY"
name = "Shopify Store Assistant App"
handle = "shopify-store-assistant-app"
application_url = "https://your-domain.com/shopify/app-home"
embedded = false

[build]
automatically_update_urls_on_dev = false

[webhooks]
api_version = "2025-07"

[access_scopes]
scopes = "write_app_proxy"

[auth]
redirect_urls = [
  "https://your-domain.com/auth/callback",
  "https://your-domain.com/auth/oauth/callback",
]

[app_proxy]
url = "/apps/track-order"
subpath = "track-order"
prefix = "apps"
